---
import Button from "@/components/Button.astro";
import ImageMod from "@/components/ImageMod.astro";
import StarRating from "@/components/StarRating.astro";
import SeparatorHalf from "@/components/shapes/SeparatorHalf";
import Star from "@/components/shapes/Star";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";

const pageIndex = await getListPage("homepage", "-index");
if (!pageIndex.data.about_section.enable) return null;

const { title, featured_images, button, reviews } =
  pageIndex.data.about_section;
---

<section class="section bg-light relative">
  <!-- Background SVG semicircle  -->
  <div
    data-aos="fade-up-sm"
    data-aos-duration="1800"
    data-aos-delay="200"
    class="hidden lg:absolute w-full min-h-[400px] lg:flex items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1920 1162"
      class="w-full h-auto max-w-full text-primary"
      aria-hidden="true"
      focusable="false"
    >
      <path
        fill="currentColor"
        d="M960.5 202c255.27 0 500.09 101.513 680.59 282.207C1820.77 664.073 1922.07 907.729 1923 1162h-2.01c-.92-253.739-102.01-496.884-281.31-676.373-180.13-180.317-424.44-281.619-679.18-281.619-254.741 0-499.048 101.302-679.176 281.619C102.022 665.116.934 908.261.008 1162H-2c.922-253.274 101.434-496.015 279.793-675.673l2.112-2.12C460.41 303.513 705.227 202 960.5 202Z"
      ></path>
    </svg>
  </div>

  <div class="container relative z-10">
    <div class="flex lg:justify-between max-lg:flex-col items-center">
      <div
        data-aos="zoom-in-sm"
        data-aos-delay="250"
        class="mb-8 w-[400px] h-[400px] lg:w-[238px] lg:h-[254px] lg:mt-40 xl:mt-80 2xl:ml-30"
      >
        <ImageMod
          src={featured_images.image_2}
          alt={`${title} - about section image 2`}
          class="w-full h-full"
          width={400}
          height={400}
        />
      </div>

      <div
        data-aos="zoom-in-sm"
        data-aos-delay="150"
        class="mb-8 w-[408px] h-[436px]"
      >
        <ImageMod
          src={featured_images.image_1}
          alt={`${title} - about section image 1`}
          class="w-full h-full"
          width={408}
          height={436}
        />
      </div>

      <div
        data-aos="zoom-in-sm"
        data-aos-delay="250"
        class="mb-8 w-[400px] h-[400px] lg:w-[238px] lg:h-[254px] lg:mt-40 xl:mt-80 mr-0 2xl:mr-30"
      >
        <ImageMod
          src={featured_images.image_3}
          alt={`${title} - about section image 3`}
          class="w-full h-full"
          width={400}
          height={400}
        />
      </div>
    </div>

    <div class="mt-10 xl:-mt-20">
      <div
        data-aos="fade-up-sm"
        data-aos-delay="150"
        class="flex justify-center items-center gap-5"
      >
        <SeparatorHalf className="w-[250px]" client:load />
        <div class="flex gap-1">
          {
            Array.from({ length: 5 }).map(() => (
              <Star className="w-4 h-4" client:load />
            ))
          }
        </div>
        <SeparatorHalf className="-rotate-180 w-[250px]" client:load />
      </div>
      <h2
        data-aos="fade-up-sm"
        data-aos-delay="200"
        class="text-center xl:w-[40%] mx-auto mt-10"
        set:html={markdownify(title)}
      />
      <div
        data-aos="fade-up-sm"
        data-aos-delay="250"
        class="mt-10 mb-16 flex justify-center"
      >
        <Button variant="outline" data={button} />
      </div>

      {
        reviews.enable && (
          <div
            data-aos="zoom-out-sm"
            data-aos-delay="150"
            class="flex md:w-[80%] lg:w-[60%] xl:w-[50%] 2xl:w-[40%] mx-auto justify-center lg:justify-between items-center flex-wrap gap-8"
          >
            {reviews.companies.map((company) => (
              <figure>
                <ImageMod
                  src={company.logo}
                  alt={`brand logo - ${company.name}`}
                  width={167}
                  height={30}
                />
                <figcaption class="mt-1 flex gap-2">
                  <StarRating rating={company.rating} />
                  <span class="text-text-dark">{company.rating}/5</span>
                </figcaption>
              </figure>
            ))}
          </div>
        )
      }
    </div>
  </div>
</section>
